
/* 
    Created on : Dec 6, 2015, Dec 6, 2015 2:15:37 PM
    Author     : Fei
*/


/* style appied to all pages */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

div {
	/*border: 1px solid red;*/
	/*margin-top: 10px;*/
}

.container {
	
	border: 2px solid darkgrey;
	border-radius: 10px;
}

.block {
	margin-top: 10px;
}

.title {
	margin: 20px 0px 0px 0px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.subtitle {
	margin: 20px 0px 0px 0px;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	
}

.author {
	/*margin: 10px 0px 10px 0px;*/
	text-align: center;
	font-size: 1em;
	font-style: italic;
}


.img {
	text-align: center;
}





/* opening.html */
table.center {
	margin-left:0%; 
	margin-right:auto;
	margin-top:0%;
	width: 50%
}


/* parallelCoordinates.html */

