
/* 
    Created on : Dec 6, 2015, Dec 6, 2015 2:15:37 PM
    Author     : Fei
*/


/* style appied to all pages */
body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	margin: 10px 10px 0px 10px;
	border: 2px solid darkgrey;
	border-radius: 10px;
}

.block {
	
	margin-bottom: 20px;
}

.title {
	margin: 10px 0px 50px 0px;
	text-align: center;
	font-size: 2em;
}

.subtitle {
	margin: 10px 0px 10px 0px;
	text-align: center;
	font-size: 1.5em;
	
}

.author {
	margin: 10px 0px 10px 0px;
	text-align: center;
	font-size: 1em;
	font-style: italic;
}


.img {
	text-align: center;
}



/* opening.html */
table.center {
	margin-left:0%; 
	margin-right:auto;
	margin-top:0%;
	width: 50%
}

/* parallelCoordinates.html */

